<div style="background: gray; border: solid 1px black; margin: 5px 0 5px 0">
  <h3><%= competition.name %></h3>
  <div>
    <p>
      <strong>Минимальный вес:</strong>
      <%= competition.min_athlete_weight %>
      <strong>Максимальный вес:</strong>
      <%= competition.max_athlete_weight %>
    </p>
    <p>
      <strong>Начало в:</strong>
      <%= competition.starts_at.strftime("%d %B %Y %H:%M") %>
      <strong>Конец в:</strong>
      <%= competition.ends_at.strftime("%d %B %Y %H:%M") %>
    </p>
  </div>
  <% if defined?(competition) && competition.present? %>
    <h2>Результаты</h2>
    <% if competition.results.any? %>
      <table>
        <thead>
        <tr>
          <th>Атлет</th>
          <th>Оценка</th>
        </tr>
        </thead>
        <tbody>
        <% competition.results.each do |result| %>
          <tr>
            <td><%= result.athlete.first_name %> <%= result.athlete.last_name %></td>
            <td><%= result.score %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Нет результатов</p>
    <% end %>
  <% else %>
    <p>Соревнование не найдено</p>
  <% end %>

  <% if current_user.referee? %>
    <%= link_to "Добавить результат", new_competition_result_path(competition), class: "btn btn-primary" %>
  <% end %>
</div>