<h1>Регистрация</h1>
<div>
  <%= form_with model: @user, url: register_path  do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "ошибка") %> при регистрации:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, required: true %>
    </div>
    <div class="field">
      <%= form.label :password, "Пароль" %>
      <%= form.password_field :password, required: true %>
    </div>
    <div>
      <%= form.label :password_confirmation, "Подтверждение пароля" %>
      <%= form.password_field :password_confirmation, required: true %>
    </div>
    <div class="field">
      <%= form.label :last_name, "Фамилия" %>
      <%= form.text_field :last_name, required: true %>
    </div>
    <div class="field">
      <%= form.label :first_name, "Имя" %>
      <%= form.text_field :first_name, required: true %>
    </div>
    <div class="field">
      <%= form.label :middle_name, "Отчество" %>
      <%= form.text_field :middle_name %>
    </div>
    <div class="field">
      <%= form.label :birthday, "Дата рождения" %>
      <%= form.date_select :birthday %>
    </div>
    <div class="actions">
      <%= submit_tag "Зарегистрироваться" %>
    </div>
  <% end %>
  <div>
    <span>
      Есть аккаунт?
      <%= link_to "Войти", login_path %>
    </span>
  </div>
</div>

